.list {
    display: flex;
}

.list a{
    margin-left: 60px;
    border-bottom: 2px solid transparent;
    transition: all 0.55s ease;
}

.list a:hover,
.list a.active {
  border-color: #B8D0A6;
  color: #B8D0A6;
}
